<h1>Olá handlebars</h1>
<p>O nome do usuário é {{usuario.name}} {{usuario.sobrenome}} e ele tem {{idade}} anos </p>
{{#if autenticado}}
    <p>Você está autenticado, <a href="/dashboard">clique aqui</a> e vá para a área de membros</p>
{{/if}}
{{#if aproved}}
    <p>Você foi aprovado</p>
{{else}}
    <p>Você não foi aprovado</p>
{{/if}}