<h1>Olá seja bem vindo</h1>
<span class="sub-title">Conheça nosso catálogo de produtos</span>
<div class="catalog-row">
    {{#each products}}
    <div class="product">
        {{> produtos}}
    </div>
    {{/each}}
</div>